option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: silicon.core.wsgi:application
  aws:elasticbeanstalk:application:environment:
    APP_MODE: prod
    PYTHONPATH: /var/app/current
    PYTHONUNBUFFERED: 1
    DJANGO_SETTINGS_MODULE: silicon.core.settings
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
    /media: media

