option_settings:
  aws:elasticbeanstalk:container:python:
    NumProcesses: 1
    NumThreads: 15
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_migrate.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      cd /var/app/ondeck
      source /var/app/venv/*/bin/activate
      export DJANGO_SETTINGS_MODULE=silicon.core.settings
      export APP_MODE=prod
      export PYTHONPATH=/var/app/ondeck
      python silicon/_microservices/admin/manage.py migrate --noinput || true
      python silicon/_microservices/admin/manage.py collectstatic --noinput || true

